@model IEnumerable<Thammapirom.Models.ActivityClip>
@{
    ViewBag.Title = "ActivityClipManaging";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    table, td, th {
        border: 1px solid red;
    }

    th {
        background-color: red;
        color: white;
    }

    td {
        padding: 10px;
    }
</style>
@if (Session["LoginStatus"] == "True"){
    <h2>หน้าจัดการวิดีโอกิจกรรม</h2>

    <div class="item">
        <p>
            @Html.ActionLink("เพิ่มคลิปกิจกรรม", "AddActivityClip")
        </p>
        <table>
            <tr>
                <th>ลำดับคลิป</th>
                <th>ชื่อคลิป</th>
                <th>ตัวอย่างคลิป</th>
                <th>ส่วนจัดการ</th>
            </tr>

            @foreach (var clip in Model)
        {
                <tr>
                    @if (clip.ClipEmbedCode != null)
                {
                        <td>@clip.ClipID</td>
                        <td>@clip.ClipTitle</td>
                        <td>
                            <iframe width="160" height="120" src="@clip.ClipEmbedCode" frameborder="0" allowfullscreen></iframe>
                        </td>
       
                        <td>@using (Html.BeginForm("DeleteActivityClip", "Admin"))
                        { 
                            @Html.Hidden("ClipID", clip.ClipID)
                            <input type="submit" value="ลบ" /> 
                
                        }
                        </td>
                }
                </tr>
        }

        </table>

    </div>
    else{}