@model Thammapirom.Models.DhammaQA


@{
    ViewBag.Title = "ตอบคำถามธรรมะ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>ตอบคำถามธรรมะ</h2>
<style>
    .editor-field {
        margin-bottom: .8em;
    }

    .editor-label {
        font-weight: bold;
    }

        .editor-label:after {
            content: ":";
        }

    .text-box {
        width: 60em;
    }

    .multi-line {
        height: 5em;
        font-family: Segoe UI, Verdana;
    }
</style>
<table style="width: 500px;">

    @using (Html.BeginForm("ReplyDhammaQuestion", "Admin"))
    {
        <tr>
            <td>@Html.ValueFor(Model => Model.Question)</td>
        </tr>
        <tr>
            <td>
                @Html.HiddenFor(Model => Model.Question)
                @Html.EditorFor(Model => Model.Answer)
                @Html.HiddenFor(Model => Model.QAID)
                <input type="submit" value="ตอบ" />

                @Html.ActionLink("ยกเลิกและกลับสู่หน้าจัดการกระทู้ธรรม", "DhammaQAManaging")
            </td>
        </tr>
    
    }
</table>
