@model Thammapirom.Models.LocalPasswordModel
@{
    ViewBag.Title = "แก้ไขข้อมูลสมาชิก";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>


    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>เปลี่ยนแปลงรหัสผ่าน</p>
</hgroup>
@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
